{% extends 'index.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Вход</h1>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="id_username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="id_password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
{% endblock %}