{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Изменение задачи{% endblock %}

{% block content %}
<div class="container">
    <h1>Изменение задачи</h1>
    <form method="post">
        {% csrf_token %}
        <div class="ms-3">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="ms-3">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="ms-3">
            {{ form.status|as_crispy_field }}
        </div>
        <div class="ms-3">
            {{ form.executor|as_crispy_field }}
        </div>
        <div class="ms-3 mb-3">
            {{ form.labels|as_crispy_field }}
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Изменить</button>
        </div>
    </form>
</div>
{% endblock %}