{% extends 'index.html' %}
{% block title %}Просмотр задачи{% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Просмотр задачи</h1>
    
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body bg-light">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col"><strong>Автор:</strong></div>
                    <div class="col">{{ task.author.get_full_name }}</div>
                </div>
                <div class="row p-1">
                    <div class="col"><strong>Исполнитель:</strong></div>
                    <div class="col">{{ task.executor.get_full_name|default:"None" }}</div>
                </div>
                <div class="row p-1">
                    <div class="col"><strong>Статус:</strong></div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col"><strong>Дата создания:</strong></div>
                    <div class="col">{{ task.created_at|date:"d.m.Y H:i" }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <h6>Метки:</h6>
                        <ul>
                            {% if task.labels.all %}
                                {% for label in task.labels.all %}
                                    <li>{{ label }}</li>
                                {% endfor %}
                            {% else %}
                                <li>-</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <a href="{% url 'update_task' task.id %}">Изменить</a>
                        <br>
                        <a href="{% url 'delete_task' task.id %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}